# Data Cleaning

In [1]:
from datetime import date
import pandas as pd
import numpy as np

In [2]:
#Reading data retrieved from the rightmove 
data = pd.read_csv('Combined_data_230219.csv')
data.head()

,selection1_name,selection1_prices,selection1_house_type,selection1_date,selection1_bedrooms,selection1_selection3
0,"10, Lord Chancellor Walk, Kingston Upon Thames...","£1,050,000","Detached, Freehold, Residential",19-Dec-18,5 bedrooms,(0.7 miles)
1,"16, Clevedon Road, Kingston Upon Thames, Great...","£905,000","Detached, Freehold, Residential",04-Dec-18,5 bedrooms,(0.2 miles)
2,"14, Albion Road, Kingston Upon Thames, Greater...","£1,225,000","Detached, Freehold, Residential",03-Dec-18,4 bedrooms,(0.5 miles)
3,"Chase End, Fitzgeorge Avenue, New Malden, Grea...","£1,030,000","Detached, Freehold, Residential",30-Nov-18,4 bedrooms,(0.9 miles)
4,"55, Cobham Road, Kingston Upon Thames, Greater...","£910,000","Detached, Freehold, Residential",22-Nov-18,4 bedrooms,(0.1 miles)

### Features available are

1.selection1_name - ADDRESS<br>
2.selection1_prices - SALE PRICE<br>
3.selection1_house_type - DETAILS which include HOUSE TYPE,FREHOLD/LEASEHOLD , RESIDENTIAL-NEW/OLD<br>
4.selection1_date - SALE DATE<br>
5.selection1_bedrooms - BEDROOMS<br>
6.selection_selection3 - DISTANCE TO THE NEAREST STATION in miles<br>

In [3]:
#columns names obtained from the retrieved data which needed to be changed into the required form
data.columns = ['Address','Sale_price','House_types','Sale_date','Bedrooms','Stationdist_miles']

In [4]:
data.columns

Index(['Address', 'Sale_price', 'House_types', 'Sale_date', 'Bedrooms',
       'Stationdist_miles'],
      dtype='object')

In [5]:
#Splitting the house type into three seperate columns
data[['House_type','Freehold_leasehold','Res_new_old']] = data['House_types'].str.split(',', expand=True)
data = data.drop('House_types', axis=1)

In [6]:
#Cleaning for  ADDRESS column[0] and seperating POSTCODE to a new column
data['Postcode']=data['Address'].str.rsplit(',').str[-1]
data['Postcode'] = data['Postcode'].str.replace("Greater London","")
data['Address']=data['Address'].str.replace(' Kingston Upon Thames,','')
data['Address']=data['Address'].str.replace('Greater London','')
data['Address']=data['Address'].str.replace('London','')
data['Address']=data['Address'] .map(lambda x: str(x)[:-10])

# Cleaning for saleprice,Bedrooms and stationsdist_miles columns
data['Bedrooms'] = data['Bedrooms'].str.replace("bedrooms","")
data['Bedrooms'] = data['Bedrooms'].str.replace("bedroom","")
data['Stationdist_miles'] = data['Stationdist_miles'].str.replace("(","")
data['Stationdist_miles'] = data['Stationdist_miles'].str.replace("miles","")
data['Stationdist_miles'] = data['Stationdist_miles'].str.replace(")","")
data['Sale_price']=data['Sale_price'].str.replace(',','')
data['Sale_price'] = data['Sale_price'].str.replace("£","")

In [7]:
#SPLITTING POSTCODE INTO KT1 AND KT2 region 
data['KT1_KT2']=data['Postcode'].map(lambda x: str(x)[:-3])

In [8]:
#Seperating the sale date into two seperate columns with sale year and sale month
data['Sale_year']=pd.DatetimeIndex(data['Sale_date']).year
data['Sale_month']=pd.DatetimeIndex(data['Sale_date']).month
data.head()

,Address,Sale_price,Sale_date,Bedrooms,Stationdist_miles,House_type,Freehold_leasehold,Res_new_old,Postcode,KT1_KT2,Sale_year,Sale_month
0,"10, Lord Chancellor Walk",1050000,19-Dec-18,5,0.7,Detached,Freehold,Residential,KT2 7HG,KT2,2018,12
1,"16, Clevedon Road",905000,04-Dec-18,5,0.2,Detached,Freehold,Residential,KT1 3AD,KT1,2018,12
2,"14, Albion Road",1225000,03-Dec-18,4,0.5,Detached,Freehold,Residential,KT2 7BZ,KT2,2018,12
3,"Chase End, Fitzgeorge Avenue, New Malden",1030000,30-Nov-18,4,0.9,Detached,Freehold,Residential,KT3 4SH,KT3,2018,11
4,"55, Cobham Road",910000,22-Nov-18,4,0.1,Detached,Freehold,Residential,KT1 3AE,KT1,2018,11

## Treating missing values

Columns named Bedrooms and Stationdist_miles seemed to have missing values

In [9]:
#Replacing the white spaces with nan
data = data.replace(r'^\s+$', np.nan, regex=True)
#This shows the number of null values in street_name,Bedrooms
null_columns=data.columns[data.isnull().any()]
data[null_columns].isnull().sum()

Bedrooms             1315
Stationdist_miles    1368
dtype: int64

In [10]:
#filling the null values for bedrooms 
#year wise sorting with respect to sale price and filling values

data_2014=data[data['Sale_year']==2014]
data_2014_sorted=data_2014.sort_values('Sale_price')
data_2014_sorted['Bedrooms'].fillna(method='backfill',inplace=True) 
data_2014_sorted['Bedrooms'].fillna(method='ffill',inplace=True) 

data_2015=data[data['Sale_year']==2015]
data_2015_sorted=data_2015.sort_values('Sale_price')
data_2015_sorted['Bedrooms'].fillna(method='backfill',inplace=True) 
data_2015_sorted['Bedrooms'].fillna(method='ffill',inplace=True)

data_2016=data[data['Sale_year']==2016]
data_2016_sorted=data_2016.sort_values('Sale_price')
data_2016_sorted['Bedrooms'].fillna(method='backfill',inplace=True) 
data_2016_sorted['Bedrooms'].fillna(method='ffill',inplace=True)

data_2017=data[data['Sale_year']==2017]
data_2017_sorted=data_2017.sort_values('Sale_price')
data_2017_sorted['Bedrooms'].fillna(method='backfill',inplace=True) 
data_2017_sorted['Bedrooms'].fillna(method='ffill',inplace=True) 

data_2018=data[data['Sale_year']==2018]
data_2018_sorted=data_2018.sort_values('Sale_price')
data_2018_sorted['Bedrooms'].fillna(method='backfill',inplace=True) 
data_2018_sorted['Bedrooms'].fillna(method='ffill',inplace=True)  

data_update= pd.concat([data_2014_sorted, data_2018_sorted,data_2017_sorted,data_2016_sorted,data_2015_sorted])
len(data_update)

3643

In [11]:
#recheck null values count 
null_columns=data_update.columns[data_update.isnull().any()]
data_update[null_columns].isnull().sum()

Stationdist_miles    1368
dtype: int64

In [12]:
data_update['Bedrooms'].value_counts()

2     1281
3     1015
4      507
1      416
5      318
6       74
0       16
7       15
8        1
Name: Bedrooms, dtype: int64

In [13]:
#sorting according to postcode and filling stationdist_miles missing values
data_update=data_update.sort_values('Postcode')
#using backfill to fill missing values in dist_to_station
data_update['Stationdist_miles'].fillna(method='backfill',inplace=True)

In [14]:
#rechecikng again to look for null values
null_columns=data_update.columns[data_update.isnull().any()]
data_update[null_columns].isnull().sum()

Series([], dtype: float64)

In [15]:
data_update.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3643 entries, 895 to 3248
Data columns (total 12 columns):
Address               3643 non-null object
Sale_price            3643 non-null object
Sale_date             3643 non-null object
Bedrooms              3643 non-null object
Stationdist_miles     3643 non-null object
House_type            3643 non-null object
Freehold_leasehold    3643 non-null object
Res_new_old           3643 non-null object
Postcode              3643 non-null object
KT1_KT2               3643 non-null object
Sale_year             3643 non-null int64
Sale_month            3643 non-null int64
dtypes: int64(2), object(10)
memory usage: 370.0+ KB

In [16]:
#Reordering the columns
columnsreorder=['Address','Postcode','KT1_KT2','Sale_price','Bedrooms','House_type','Freehold_leasehold','Res_new_old',
                'Stationdist_miles','Sale_date','Sale_year','Sale_month']
data_update = data_update.reindex(columns=columnsreorder)
#Renaming Postcode to POSTCODE to merge with postcode info .csv 
data_update=data_update.rename(columns={"Postcode":"POSTCODE"})

In [17]:
data_update.head()

,Address,POSTCODE,KT1_KT2,Sale_price,Bedrooms,House_type,Freehold_leasehold,Res_new_old,Stationdist_miles,Sale_date,Sale_year,Sale_month
895,"Flat 40, Elder House, 4, Water Lane",KT1 1AE,KT1,435000,2,Flat,Leasehold,Residential,0.4,05-Oct-15,2015,10
845,"Flat 50, Elder House, 4, Water Lane",KT1 1AE,KT1,1295000,4,Flat,Leasehold,Residential,0.4,05-Feb-16,2016,2
577,"Flat 35, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,2,Flat,Leasehold,Residential,0.4,19-Oct-17,2017,10
522,"Flat 47, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,5,Flat,Leasehold,Residential,0.4,20-Apr-18,2018,4
723,"Flat 1, Elder House, 4, Water Lane",KT1 1AE,KT1,143750,2,Flat,Leasehold,Residential,0.4,06-Oct-16,2016,10

In [18]:
#saving the updated  dataframwe to a csv named KINGSTON_UPON_THAMES_REALDATA
data_update.to_csv('KINGSTON_UPON_THAMES_REALDATA.csv',index=False)

In [19]:
df_readcsv=pd.read_csv('KINGSTON_UPON_THAMES_REALDATA.csv')

In [20]:
def trim(dataset):
    trim = lambda x: x.strip() if type(x) is str else x
    return dataset.applymap(trim)
df_readcsv = trim(df_readcsv)
df_readcsv

,Address,POSTCODE,KT1_KT2,Sale_price,Bedrooms,House_type,Freehold_leasehold,Res_new_old,Stationdist_miles,Sale_date,Sale_year,Sale_month
0,"Flat 40, Elder House, 4, Water Lane",KT1 1AE,KT1,435000,2,Flat,Leasehold,Residential,0.4,05-Oct-15,2015,10
1,"Flat 50, Elder House, 4, Water Lane",KT1 1AE,KT1,1295000,4,Flat,Leasehold,Residential,0.4,05-Feb-16,2016,2
2,"Flat 35, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,2,Flat,Leasehold,Residential,0.4,19-Oct-17,2017,10
3,"Flat 47, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,5,Flat,Leasehold,Residential,0.4,20-Apr-18,2018,4
4,"Flat 1, Elder House, 4, Water Lane",KT1 1AE,KT1,143750,2,Flat,Leasehold,Residential,0.4,06-Oct-16,2016,10
5,"Flat 42, Elder House, 4, Water Lane",KT1 1AE,KT1,765000,4,Flat,Leasehold,Residential,0.4,20-Sep-16,2016,9
6,"Flat 93, Garricks House, Wadbrook Street",KT1 1AZ,KT1,515000,2,Flat,Leasehold,Residential,0.4,27-Apr-18,2018,4
7,"Flat 100, Garricks House, Wadbrook Street",KT1 1AZ,KT1,515000,2,Flat,Leasehold,Residential,0.4,23-Aug-18,2018,8
8,"Flat 110, Garricks House, Wadbrook Street",KT1 1AZ,KT1,800000,2,Flat,Leasehold,Residential,0.4,03-Apr-14,2014,4
9,"Flat 105, Garricks House, Wadbrook Street",KT1 1AZ,KT1,635000,2,Flat,Leasehold,Residential,0.4,21-Mar-16,2016,3
10,"Flat 95, Garricks House, Wadbrook Street",KT1 1AZ,KT1,580000,2,Flat,Leasehold,Residential,0.4,22-Apr-14,2014,4
11,"Flat 2, 14a, Eden Street",KT1 1BB,KT1,225000,5,Flat,Leasehold,Residential,0.4,20-Nov-17,2017,11
12,"Flat 4, 14a, Eden Street",KT1 1BB,KT1,215000,1,Flat,Leasehold,Residential,0.4,04-Sep-14,2014,9
13,"Flat 1, 2, High Street",KT1 1EY,KT1,390000,2,Flat,Leasehold,Residential,0.4,08-Jun-16,2016,6
14,"Flat 1-3, 10, High Street",KT1 1EY,KT1,425000,2,Flat,Leasehold,Residential,0.4,07-Jun-16,2016,6
15,"Flat 2, 10, High Street",KT1 1EY,KT1,280000,2,Flat,Leasehold,Residential,0.4,01-Dec-16,2016,12
16,"Flat 1, 10, High Street",KT1 1EY,KT1,300000,1,Flat,Leasehold,Residential,0.4,18-Nov-16,2016,11
17,"Flat 2, 2, High Street",KT1 1EY,KT1,317000,2,Flat,Leasehold,Residential,0.4,10-Nov-16,2016,11
18,"Flat 4, 2, High Street",KT1 1EY,KT1,325000,2,Flat,Leasehold,Residential,0.4,08-Jul-16,2016,7
19,"Flat 3, 2, High Street",KT1 1EY,KT1,337000,1,Flat,Leasehold,Residential,0.4,10-Jun-16,2016,6
20,"Flat 7, Queens Reach, Ram Passage",KT1 1HH,KT1,335000,1,Flat,Leasehold,Residential,0.4,07-Dec-15,2015,12
21,"Flat 7, Ravens House, Wadbrook Street",KT1 1HR,KT1,735000,2,Flat,Leasehold,Residential,0.3,05-Jan-18,2018,1
22,"Flat 18, Ravens House, Wadbrook Street",KT1 1HR,KT1,455400,2,Flat,Leasehold,Residential,0.3,13-Apr-15,2015,4
23,"Flat 13, Ravens House, Wadbrook Street",KT1 1HR,KT1,600000,2,Flat,Leasehold,Residential,0.3,23-May-14,2014,5
24,"Flat 5, Ravens House, Wadbrook Street",KT1 1HR,KT1,485000,2,Flat,Leasehold,Residential,0.3,12-May-17,2017,5
25,"Flat 23, Ravens House, Wadbrook Street",KT1 1HR,KT1,875000,3,Flat,Leasehold,Residential,0.3,21-Dec-16,2016,12
26,"Flat 9, Garricks House, Wadbrook Street",KT1 1HS,KT1,442000,2,Flat,Leasehold,Residential,0.4,29-Nov-17,2017,11
27,"Flat 40, Garricks House, Wadbrook Street",KT1 1HS,KT1,875000,2,Flat,Leasehold,Residential,0.4,15-Dec-17,2017,12
28,"Flat 67, Garricks House, Wadbrook Street",KT1 1HS,KT1,1270000,2,Flat,Leasehold,Residential,0.4,26-Jul-18,2018,7
29,"Flat 29, Garricks House, Wadbrook Street",KT1 1HS,KT1,620000,2,Flat,Leasehold,Residential,0.4,13-Nov-15,2015,11
...,...,...,...,...,...,...,...,...,...,...,...,...
3613,"Harewood Lodge, Kingston Vale, ,",SW15 3RN,SW15,1200000,5,Detached,Freehold,Residential,1.7,08-Dec-17,2017,12
3614,"48, Ullswater Crescent, ,",SW15 3RQ,SW15,1050000,5,Detached,Freehold,Residential,1.6,06-Nov-15,2015,11
3615,"78, Ullswater Crescent, ,",SW15 3RQ,SW15,1100000,4,Semi-Detached,Freehold,Residential,1.6,04-Oct-17,2017,10
3616,"22, Ullswater Crescent, ,",SW15 3RQ,SW15,810000,3,Semi-Detached,Freehold,Residential,1.6,15-Jun-18,2018,6
3617,"34, Ullswater Crescent, ,",SW15 3RQ,SW15,1110000,5,Detached,Freehold,Residential,1.6,28-Mar-14,2014,3
3618,"82, Ullswater Crescent, ,",SW15 3RQ,SW15,965000,5,Detached,Freehold,Residential,1.6,06-Jun-18,2018,6
3619,"10, Beverley Cottages, Kingston Vale, ,",SW15 3RR,SW15,407000,5,Terraced,Freehold,Residential,1.5,06-Oct-14,2014,10
3620,"9, Beverley Cottages, Kingston Vale, ,",SW15 3RR,SW15,375000,2,Terraced,Freehold,Residential,1.5,21-Aug-15,2015,8
3621,"3, Vale Cottages, Kingston Vale, ,",SW15 3RW,SW15,400000,2,Terraced,Freehold,Residential,1.5,08-May-15,2015,5
3622,"1, Cedar Close, ,",SW15 3SD,SW15,1150000,5,Detached,Freehold,Residential,1.5,13-Mar-15,2015,3
3623,"Dorincourt, 5, Cedar Close, ,",SW15 3SD,SW15,1800000,5,Semi-Detached,Freehold,Residential,1.5,05-Feb-16,2016,2
3624,"22, Barrons Chase, Richmond,",TW10 5BZ,TW10,1900000,4,Semi-Detached,Freehold,Residential,1.1,30-Apr-18,2018,4
3625,"24, Barrons Chase, Richmond,",TW10 5BZ,TW10,1956000,4,Semi-Detached,Freehold,Residential,1.1,09-May-18,2018,5
3626,"16, Barrons Chase, Richmond,",TW10 5BZ,TW10,1324800,5,Terraced,Freehold,Residential (New Build),1.1,30-Apr-18,2018,4
3627,"18, Barrons Chase, Richmond,",TW10 5BZ,TW10,1324800,5,Terraced,Freehold,Residential,1.1,23-Apr-18,2018,4
3628,"10, Ham Ridings, Richmond,",TW10 5HJ,TW10,950000,5,Detached,Freehold,Residential,1.1,17-Aug-18,2018,8
3629,"2, Ham Ridings, Richmond,",TW10 5HJ,TW10,960000,3,Detached,Freehold,Residential,1.1,18-Dec-17,2017,12
3630,"32, Latchmere Close, Richmond,",TW10 5HQ,TW10,605000,3,Semi-Detached,Freehold,Residential,1.1,22-Jun-15,2015,6
3631,"27, Latchmere Close, Richmond,",TW10 5HQ,TW10,595000,5,Semi-Detached,Freehold,Residential,1.1,17-Jul-14,2014,7
3632,"31, Latchmere Close, Richmond,",TW10 5HQ,TW10,585000,3,Semi-Detached,Freehold,Residential,1.1,13-Jun-14,2014,6
3633,"23, Latchmere Close, Richmond,",TW10 5HQ,TW10,580000,3,Semi-Detached,Freehold,Residential,1.1,11-Mar-15,2015,3
3634,"13, Bainbridge Close, Ham, Richmond,",TW10 5JJ,TW10,935000,4,Detached,Freehold,Residential,1.1,14-Aug-14,2014,8
3635,"10, Dryden Court, Parkleys, Richmond,",TW10 5LJ,TW10,415000,2,Detached,Leasehold,Residential,1.0,03-Apr-18,2018,4
3636,"75, Maguire Drive, Richmond,",TW10 7XX,TW10,390000,4,Semi-Detached,Freehold,Residential,1.0,09-Oct-14,2014,10
3637,"56, Maguire Drive, Richmond,",TW10 7XY,TW10,619000,3,Semi-Detached,Freehold,Residential,1.0,01-Jun-18,2018,6
3638,"18, Maguire Drive, Richmond,",TW10 7XY,TW10,670000,4,Semi-Detached,Freehold,Residential,1.0,30-Oct-15,2015,10
3639,"10, Maguire Drive, Richmond,",TW10 7XY,TW10,590000,3,Semi-Detached,Freehold,Residential,1.0,11-Sep-15,2015,9
3640,"13, Broom Park, Teddington,",TW11 9RN,TW11,865000,4,Terraced,Leasehold,Residential,0.3,16-Jun-17,2017,6
3641,"11, Broom Park, Teddington,",TW11 9RN,TW11,899950,3,Terraced,Freehold,Residential,0.3,11-Dec-15,2015,12
3642,"8, Broom Park, Teddington,",TW11 9RN,TW11,815000,3,Terraced,Leasehold,Residential,0.3,15-May-17,2017,5

In [21]:
#reading the data retrieved for the post code details 
geo=pd.read_csv('geographical_postcode_kingston_upon_thames.csv')
geo.head(5)

,POSTCODE,In Use?,Latitude,Longitude,Easting,Northing,Grid Ref,Ward,Introduced,Terminated,Altitude
0,KT1 1AA,Yes,51.408688,-0.304465,518023,169104,TQ180691,Grove,01/02/1990,NaN,12
1,KT1 1AB,No,51.412330,-0.302591,518144,169512,TQ181695,Grove,01/01/2005,01/08/2014,14
2,KT1 1AD,Yes,51.411211,-0.301136,518248,169390,TQ182693,Grove,01/03/2010,NaN,13
3,KT1 1AE,Yes,51.412605,-0.307355,517812,169535,TQ178695,Grove,01/02/2011,NaN,9
4,KT1 1AF,Yes,51.412477,-0.307208,517823,169521,TQ178695,Grove,01/02/2011,NaN,10

In [22]:
#Merging the two datasets to form the final dataset
mer_data=pd.merge(df_readcsv,geo)
#Removing the columns which are not required for modelling 
del mer_data['Grid Ref']
del mer_data['Terminated']
del mer_data['In Use?']
del mer_data['Introduced']
# mer_data['Introduced']=mer_data['Introduced'].str.replace('/','-')
# mer_data['Introduced']=mer_data['Introduced'].map(lambda x: str(x)[3:])
mer_data

,Address,POSTCODE,KT1_KT2,Sale_price,Bedrooms,House_type,Freehold_leasehold,Res_new_old,Stationdist_miles,Sale_date,Sale_year,Sale_month,Latitude,Longitude,Easting,Northing,Ward,Altitude
0,"Flat 40, Elder House, 4, Water Lane",KT1 1AE,KT1,435000,2,Flat,Leasehold,Residential,0.4,05-Oct-15,2015,10,51.412605,-0.307355,517812,169535,Grove,9
1,"Flat 50, Elder House, 4, Water Lane",KT1 1AE,KT1,1295000,4,Flat,Leasehold,Residential,0.4,05-Feb-16,2016,2,51.412605,-0.307355,517812,169535,Grove,9
2,"Flat 35, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,2,Flat,Leasehold,Residential,0.4,19-Oct-17,2017,10,51.412605,-0.307355,517812,169535,Grove,9
3,"Flat 47, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,5,Flat,Leasehold,Residential,0.4,20-Apr-18,2018,4,51.412605,-0.307355,517812,169535,Grove,9
4,"Flat 1, Elder House, 4, Water Lane",KT1 1AE,KT1,143750,2,Flat,Leasehold,Residential,0.4,06-Oct-16,2016,10,51.412605,-0.307355,517812,169535,Grove,9
5,"Flat 42, Elder House, 4, Water Lane",KT1 1AE,KT1,765000,4,Flat,Leasehold,Residential,0.4,20-Sep-16,2016,9,51.412605,-0.307355,517812,169535,Grove,9
6,"Flat 93, Garricks House, Wadbrook Street",KT1 1AZ,KT1,515000,2,Flat,Leasehold,Residential,0.4,27-Apr-18,2018,4,51.408764,-0.307856,517787,169107,Grove,11
7,"Flat 100, Garricks House, Wadbrook Street",KT1 1AZ,KT1,515000,2,Flat,Leasehold,Residential,0.4,23-Aug-18,2018,8,51.408764,-0.307856,517787,169107,Grove,11
8,"Flat 110, Garricks House, Wadbrook Street",KT1 1AZ,KT1,800000,2,Flat,Leasehold,Residential,0.4,03-Apr-14,2014,4,51.408764,-0.307856,517787,169107,Grove,11
9,"Flat 105, Garricks House, Wadbrook Street",KT1 1AZ,KT1,635000,2,Flat,Leasehold,Residential,0.4,21-Mar-16,2016,3,51.408764,-0.307856,517787,169107,Grove,11
10,"Flat 95, Garricks House, Wadbrook Street",KT1 1AZ,KT1,580000,2,Flat,Leasehold,Residential,0.4,22-Apr-14,2014,4,51.408764,-0.307856,517787,169107,Grove,11
11,"Flat 2, 14a, Eden Street",KT1 1BB,KT1,225000,5,Flat,Leasehold,Residential,0.4,20-Nov-17,2017,11,51.408876,-0.305680,517938,169123,Grove,12
12,"Flat 4, 14a, Eden Street",KT1 1BB,KT1,215000,1,Flat,Leasehold,Residential,0.4,04-Sep-14,2014,9,51.408876,-0.305680,517938,169123,Grove,12
13,"Flat 1, 2, High Street",KT1 1EY,KT1,390000,2,Flat,Leasehold,Residential,0.4,08-Jun-16,2016,6,51.408811,-0.306797,517861,169114,Grove,12
14,"Flat 1-3, 10, High Street",KT1 1EY,KT1,425000,2,Flat,Leasehold,Residential,0.4,07-Jun-16,2016,6,51.408811,-0.306797,517861,169114,Grove,12
15,"Flat 2, 10, High Street",KT1 1EY,KT1,280000,2,Flat,Leasehold,Residential,0.4,01-Dec-16,2016,12,51.408811,-0.306797,517861,169114,Grove,12
16,"Flat 1, 10, High Street",KT1 1EY,KT1,300000,1,Flat,Leasehold,Residential,0.4,18-Nov-16,2016,11,51.408811,-0.306797,517861,169114,Grove,12
17,"Flat 2, 2, High Street",KT1 1EY,KT1,317000,2,Flat,Leasehold,Residential,0.4,10-Nov-16,2016,11,51.408811,-0.306797,517861,169114,Grove,12
18,"Flat 4, 2, High Street",KT1 1EY,KT1,325000,2,Flat,Leasehold,Residential,0.4,08-Jul-16,2016,7,51.408811,-0.306797,517861,169114,Grove,12
19,"Flat 3, 2, High Street",KT1 1EY,KT1,337000,1,Flat,Leasehold,Residential,0.4,10-Jun-16,2016,6,51.408811,-0.306797,517861,169114,Grove,12
20,"Flat 7, Queens Reach, Ram Passage",KT1 1HH,KT1,335000,1,Flat,Leasehold,Residential,0.4,07-Dec-15,2015,12,51.407852,-0.308220,517764,169005,Grove,9
21,"Flat 7, Ravens House, Wadbrook Street",KT1 1HR,KT1,735000,2,Flat,Leasehold,Residential,0.3,05-Jan-18,2018,1,51.409269,-0.307377,517819,169164,Grove,11
22,"Flat 18, Ravens House, Wadbrook Street",KT1 1HR,KT1,455400,2,Flat,Leasehold,Residential,0.3,13-Apr-15,2015,4,51.409269,-0.307377,517819,169164,Grove,11
23,"Flat 13, Ravens House, Wadbrook Street",KT1 1HR,KT1,600000,2,Flat,Leasehold,Residential,0.3,23-May-14,2014,5,51.409269,-0.307377,517819,169164,Grove,11
24,"Flat 5, Ravens House, Wadbrook Street",KT1 1HR,KT1,485000,2,Flat,Leasehold,Residential,0.3,12-May-17,2017,5,51.409269,-0.307377,517819,169164,Grove,11
25,"Flat 23, Ravens House, Wadbrook Street",KT1 1HR,KT1,875000,3,Flat,Leasehold,Residential,0.3,21-Dec-16,2016,12,51.409269,-0.307377,517819,169164,Grove,11
26,"Flat 9, Garricks House, Wadbrook Street",KT1 1HS,KT1,442000,2,Flat,Leasehold,Residential,0.4,29-Nov-17,2017,11,51.408764,-0.307856,517787,169107,Grove,11
27,"Flat 40, Garricks House, Wadbrook Street",KT1 1HS,KT1,875000,2,Flat,Leasehold,Residential,0.4,15-Dec-17,2017,12,51.408764,-0.307856,517787,169107,Grove,11
28,"Flat 67, Garricks House, Wadbrook Street",KT1 1HS,KT1,1270000,2,Flat,Leasehold,Residential,0.4,26-Jul-18,2018,7,51.408764,-0.307856,517787,169107,Grove,11
29,"Flat 29, Garricks House, Wadbrook Street",KT1 1HS,KT1,620000,2,Flat,Leasehold,Residential,0.4,13-Nov-15,2015,11,51.408764,-0.307856,517787,169107,Grove,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,"103, Ullswater Crescent, ,",SW15 3RE,SW15,975000,5,Semi-Detached,Freehold,Residential,1.7,13-Nov-17,2017,11,51.432579,-0.262594,520872,171829,Coombe Hill,23
3338,"99, Ullswater Crescent, ,",SW15 3RE,SW15,1218500,4,Semi-Detached,Freehold,Residential,1.7,24-Mar-16,2016,3,51.432579,-0.262594,520872,171829,Coombe Hill,23
3339,"101, Ullswater Crescent, ,",SW15 3RE,SW15,925000,4,Semi-Detached,Freehold,Residential,1.7,19-Jun-14,2014,6,51.432579,-0.262594,520872,171829,Coombe Hill,23
3340,"Heiwa, 1b, Ullswater Close, ,",SW15 3RF,SW15,3300000,2,Detached,Freehold,Residential (New Build),1.6,17-Feb-16,2016,2,51.430965,-0.264756,520726,171646,Coombe Hill,39
3341,"29, Ullswater Crescent, ,",SW15 3RG,SW15,855000,4,Semi-Detached,Freehold,Residential,1.6,19-Oct-16,2016,10,51.430545,-0.261290,520968,171605,Coombe Hill,31
3342,"49, Ullswater Crescent, ,",SW15 3RG,SW15,1037500,5,Detached,Freehold,Residential,1.6,27-Jul-18,2018,7,51.430545,-0.261290,520968,171605,Coombe Hill,31
3343,"5, Ullswater Crescent, ,",SW15 3RG,SW15,1100000,4,Detached,Freehold,Residential,1.6,01-Aug-14,2014,8,51.430545,-0.261290,520968,171605,Coombe Hill,31
3344,"43, Ullswater Crescent, ,",SW15 3RG,SW15,1100000,5,Detached,Freehold,Residential,1.6,13-Jan-17,2017,1,51.430545,-0.261290,520968,171605,Coombe Hill,31
3345,"37, Ullswater Crescent, ,",SW15 3RG,SW15,1000000,4,Semi-Detached,Freehold,Residential,1.6,21-Jun-17,2017,6,51.430545,-0.261290,520968,171605,Coombe Hill,31
3346,"51, Ullswater Crescent, ,",SW15 3RG,SW15,915000,4,Detached,Freehold,Residential,1.6,20-Oct-17,2017,10,51.430545,-0.261290,520968,171605,Coombe Hill,31
3347,"4a, Woodview Close, ,",SW15 3RL,SW15,2380000,5,Detached,Freehold,Residential,1.6,26-Oct-17,2017,10,51.432415,-0.264298,520754,171808,Coombe Hill,31
3348,"1, Woodview Close, ,",SW15 3RL,SW15,1090000,5,Detached,Freehold,Residential,1.6,23-Dec-14,2014,12,51.432415,-0.264298,520754,171808,Coombe Hill,31
3349,"3, Woodview Close, ,",SW15 3RL,SW15,1200000,4,Detached,Freehold,Residential,1.6,23-Apr-14,2014,4,51.432415,-0.264298,520754,171808,Coombe Hill,31
3350,"Harewood Cottage, Kingston Vale, ,",SW15 3RN,SW15,1000000,4,Detached,Freehold,Residential,1.7,01-Jul-14,2014,7,51.433694,-0.261991,520911,171954,Coombe Hill,22
3351,"Harewood Lodge, Kingston Vale, ,",SW15 3RN,SW15,1200000,5,Detached,Freehold,Residential,1.7,08-Dec-17,2017,12,51.433694,-0.261991,520911,171954,Coombe Hill,22
3352,"48, Ullswater Crescent, ,",SW15 3RQ,SW15,1050000,5,Detached,Freehold,Residential,1.6,06-Nov-15,2015,11,51.432170,-0.262308,520893,171784,Coombe Hill,23
3353,"78, Ullswater Crescent, ,",SW15 3RQ,SW15,1100000,4,Semi-Detached,Freehold,Residential,1.6,04-Oct-17,2017,10,51.432170,-0.262308,520893,171784,Coombe Hill,23
3354,"22, Ullswater Crescent, ,",SW15 3RQ,SW15,810000,3,Semi-Detached,Freehold,Residential,1.6,15-Jun-18,2018,6,51.432170,-0.262308,520893,171784,Coombe Hill,23
3355,"34, Ullswater Crescent, ,",SW15 3RQ,SW15,1110000,5,Detached,Freehold,Residential,1.6,28-Mar-14,2014,3,51.432170,-0.262308,520893,171784,Coombe Hill,23
3356,"82, Ullswater Crescent, ,",SW15 3RQ,SW15,965000,5,Detached,Freehold,Residential,1.6,06-Jun-18,2018,6,51.432170,-0.262308,520893,171784,Coombe Hill,23
3357,"10, Beverley Cottages, Kingston Vale, ,",SW15 3RR,SW15,407000,5,Terraced,Freehold,Residential,1.5,06-Oct-14,2014,10,51.436024,-0.256565,521282,172222,Coombe Hill,14
3358,"9, Beverley Cottages, Kingston Vale, ,",SW15 3RR,SW15,375000,2,Terraced,Freehold,Residential,1.5,21-Aug-15,2015,8,51.436024,-0.256565,521282,172222,Coombe Hill,14
3359,"3, Vale Cottages, Kingston Vale, ,",SW15 3RW,SW15,400000,2,Terraced,Freehold,Residential,1.5,08-May-15,2015,5,51.435430,-0.257781,521199,172154,Coombe Hill,16
3360,"1, Cedar Close, ,",SW15 3SD,SW15,1150000,5,Detached,Freehold,Residential,1.5,13-Mar-15,2015,3,51.431632,-0.266025,520636,171718,Coombe Hill,48
3361,"Dorincourt, 5, Cedar Close, ,",SW15 3SD,SW15,1800000,5,Semi-Detached,Freehold,Residential,1.5,05-Feb-16,2016,2,51.431632,-0.266025,520636,171718,Coombe Hill,48
3362,"32, Latchmere Close, Richmond,",TW10 5HQ,TW10,605000,3,Semi-Detached,Freehold,Residential,1.1,22-Jun-15,2015,6,51.428543,-0.297623,518448,171323,Tudor,10
3363,"27, Latchmere Close, Richmond,",TW10 5HQ,TW10,595000,5,Semi-Detached,Freehold,Residential,1.1,17-Jul-14,2014,7,51.428543,-0.297623,518448,171323,Tudor,10
3364,"31, Latchmere Close, Richmond,",TW10 5HQ,TW10,585000,3,Semi-Detached,Freehold,Residential,1.1,13-Jun-14,2014,6,51.428543,-0.297623,518448,171323,Tudor,10
3365,"23, Latchmere Close, Richmond,",TW10 5HQ,TW10,580000,3,Semi-Detached,Freehold,Residential,1.1,11-Mar-15,2015,3,51.428543,-0.297623,518448,171323,Tudor,10
3366,"13, Bainbridge Close, Ham, Richmond,",TW10 5JJ,TW10,935000,4,Detached,Freehold,Residential,1.1,14-Aug-14,2014,8,51.428790,-0.298563,518382,171349,Tudor,10

In [23]:
mer_data=mer_data.rename(columns={"POSTCODE":"Postcode"})
mer_data.columns

Index(['Address', 'Postcode', 'KT1_KT2', 'Sale_price', 'Bedrooms',
       'House_type', 'Freehold_leasehold', 'Res_new_old', 'Stationdist_miles',
       'Sale_date', 'Sale_year', 'Sale_month', 'Latitude', 'Longitude',
       'Easting', 'Northing', 'Ward', 'Altitude'],
      dtype='object')

In [24]:
#Removing the addresses containing postcodes beginning with SW15 and TW10
mer_data.tail(81)

,Address,Postcode,KT1_KT2,Sale_price,Bedrooms,House_type,Freehold_leasehold,Res_new_old,Stationdist_miles,Sale_date,Sale_year,Sale_month,Latitude,Longitude,Easting,Northing,Ward,Altitude
3286,"23, Westfield Court, Portsmouth Road, Surbiton",KT6 4HG,KT6,650000,3,Terraced,Leasehold,Residential,0.5,15-Mar-18,2018,3,51.398538,-0.309024,517732,167968,Grove,11
3287,"6, St Johns Terrace, ,",SW15 3PR,SW15,547500,4,Terraced,Freehold,Residential,0.5,13-Jul-18,2018,7,51.435128,-0.257390,521227,172121,Coombe Hill,15
3288,"4, Robin Hood Lane, ,",SW15 3PU,SW15,475600,3,Terraced,Freehold,Residential,1.8,27-Nov-15,2015,11,51.433419,-0.257987,521190,171930,Coombe Hill,16
3289,"33, Robin Hood Lane, ,",SW15 3PU,SW15,730000,3,Semi-Detached,Freehold,Residential,1.8,14-Apr-14,2014,4,51.433419,-0.257987,521190,171930,Coombe Hill,16
3290,"53, Robin Hood Way, ,",SW15 3PW,SW15,680000,3,Semi-Detached,Freehold,Residential,1.8,21-Mar-16,2016,3,51.433321,-0.257493,521225,171920,Coombe Hill,15
3291,"47, Robin Hood Way, ,",SW15 3PW,SW15,825000,5,Semi-Detached,Freehold,Residential,1.8,25-Nov-16,2016,11,51.433321,-0.257493,521225,171920,Coombe Hill,15
3292,"11, Robin Hood Way, ,",SW15 3PW,SW15,385000,3,Semi-Detached,Freehold,Residential,1.8,26-Sep-14,2014,9,51.433321,-0.257493,521225,171920,Coombe Hill,15
3293,"37, Robin Hood Way, ,",SW15 3PW,SW15,525000,2,Semi-Detached,Freehold,Residential,1.8,16-Mar-15,2015,3,51.433321,-0.257493,521225,171920,Coombe Hill,15
3294,"The Old School House, Robin Hood Lane, ,",SW15 3PY,SW15,875000,3,Semi-Detached,Freehold,Residential,1.8,30-Mar-16,2016,3,51.432943,-0.258667,521144,171876,Coombe Hill,16
3295,"6, Mary Adelaide Close, ,",SW15 3PZ,SW15,499950,3,Terraced,Freehold,Residential,1.8,26-Sep-14,2014,9,51.434212,-0.259281,521098,172016,Coombe Hill,18
3296,"5, Mary Adelaide Close, ,",SW15 3PZ,SW15,630000,4,Terraced,Freehold,Residential,1.8,04-Nov-15,2015,11,51.434212,-0.259281,521098,172016,Coombe Hill,18
3297,"129, Robin Hood Way, ,",SW15 3QE,SW15,610000,3,Semi-Detached,Freehold,Residential,2.7,26-Jan-16,2016,1,51.431125,-0.257355,521240,171676,Coombe Hill,17
3298,"137, Robin Hood Way, ,",SW15 3QE,SW15,780000,6,Detached,Freehold,Residential,2.7,15-Jun-15,2015,6,51.431125,-0.257355,521240,171676,Coombe Hill,17
3299,"147, Robin Hood Way, ,",SW15 3QE,SW15,835000,4,Semi-Detached,Freehold,Residential,2.7,16-Apr-14,2014,4,51.431125,-0.257355,521240,171676,Coombe Hill,17
3300,"165, Robin Hood Way, ,",SW15 3QG,SW15,830000,4,Detached,Freehold,Residential,1.6,26-Feb-16,2016,2,51.428085,-0.256671,521296,171339,Coombe Hill,14
3301,"175, Robin Hood Way, ,",SW15 3QG,SW15,615000,5,Semi-Detached,Freehold,Residential,1.6,03-Mar-17,2017,3,51.428085,-0.256671,521296,171339,Coombe Hill,14
3302,"43, Keswick Avenue, ,",SW15 3QH,SW15,590000,3,Terraced,Freehold,Residential,1.5,24-Jul-15,2015,7,51.426689,-0.258962,521140,171180,Coombe Hill,21
3303,"59, Keswick Avenue, ,",SW15 3QH,SW15,970000,4,Detached,Freehold,Residential,1.5,25-Apr-16,2016,4,51.426689,-0.258962,521140,171180,Coombe Hill,21
3304,"51, Keswick Avenue, ,",SW15 3QH,SW15,650000,4,Semi-Detached,Freehold,Residential,1.5,02-Apr-15,2015,4,51.426689,-0.258962,521140,171180,Coombe Hill,21
3305,"11, Keswick Avenue, ,",SW15 3QH,SW15,595000,3,Semi-Detached,Freehold,Residential,1.5,30-Apr-15,2015,4,51.426689,-0.258962,521140,171180,Coombe Hill,21
3306,"9, Keswick Avenue, ,",SW15 3QH,SW15,570000,3,Terraced,Freehold,Residential,1.5,11-Apr-18,2018,4,51.426689,-0.258962,521140,171180,Coombe Hill,21
3307,"27, Keswick Avenue, ,",SW15 3QH,SW15,580000,3,Terraced,Freehold,Residential,1.5,15-Jun-18,2018,6,51.426689,-0.258962,521140,171180,Coombe Hill,21
3308,"28, Keswick Avenue, ,",SW15 3QJ,SW15,528000,2,Terraced,Freehold,Residential,1.5,10-Oct-14,2014,10,51.427123,-0.259147,521126,171228,Coombe Hill,20
3309,"12, Keswick Avenue, ,",SW15 3QJ,SW15,1100000,4,Detached,Freehold,Residential,1.5,20-Nov-15,2015,11,51.427123,-0.259147,521126,171228,Coombe Hill,20
3310,"36, Keswick Avenue, ,",SW15 3QJ,SW15,545000,3,Semi-Detached,Freehold,Residential,1.5,05-Dec-14,2014,12,51.427123,-0.259147,521126,171228,Coombe Hill,20
3311,"32, Bowness Crescent, ,",SW15 3QL,SW15,680000,3,Semi-Detached,Freehold,Residential,3.0,20-Oct-15,2015,10,51.427689,-0.260924,521001,171288,Coombe Hill,26
3312,"42, Bowness Crescent, ,",SW15 3QL,SW15,770000,4,Terraced,Freehold,Residential,3.0,03-May-16,2016,5,51.427689,-0.260924,521001,171288,Coombe Hill,26
3313,"36, Bowness Crescent, ,",SW15 3QL,SW15,642000,3,Semi-Detached,Freehold,Residential,3.0,31-Mar-17,2017,3,51.427689,-0.260924,521001,171288,Coombe Hill,26
3314,"43, Bowness Crescent, ,",SW15 3QN,SW15,679950,3,Semi-Detached,Freehold,Residential,1.5,16-May-14,2014,5,51.427722,-0.260088,521059,171293,Coombe Hill,22
3315,"7, Bowness Crescent, ,",SW15 3QN,SW15,705000,3,Semi-Detached,Freehold,Residential,1.5,30-Mar-16,2016,3,51.427722,-0.260088,521059,171293,Coombe Hill,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3337,"103, Ullswater Crescent, ,",SW15 3RE,SW15,975000,5,Semi-Detached,Freehold,Residential,1.7,13-Nov-17,2017,11,51.432579,-0.262594,520872,171829,Coombe Hill,23
3338,"99, Ullswater Crescent, ,",SW15 3RE,SW15,1218500,4,Semi-Detached,Freehold,Residential,1.7,24-Mar-16,2016,3,51.432579,-0.262594,520872,171829,Coombe Hill,23
3339,"101, Ullswater Crescent, ,",SW15 3RE,SW15,925000,4,Semi-Detached,Freehold,Residential,1.7,19-Jun-14,2014,6,51.432579,-0.262594,520872,171829,Coombe Hill,23
3340,"Heiwa, 1b, Ullswater Close, ,",SW15 3RF,SW15,3300000,2,Detached,Freehold,Residential (New Build),1.6,17-Feb-16,2016,2,51.430965,-0.264756,520726,171646,Coombe Hill,39
3341,"29, Ullswater Crescent, ,",SW15 3RG,SW15,855000,4,Semi-Detached,Freehold,Residential,1.6,19-Oct-16,2016,10,51.430545,-0.261290,520968,171605,Coombe Hill,31
3342,"49, Ullswater Crescent, ,",SW15 3RG,SW15,1037500,5,Detached,Freehold,Residential,1.6,27-Jul-18,2018,7,51.430545,-0.261290,520968,171605,Coombe Hill,31
3343,"5, Ullswater Crescent, ,",SW15 3RG,SW15,1100000,4,Detached,Freehold,Residential,1.6,01-Aug-14,2014,8,51.430545,-0.261290,520968,171605,Coombe Hill,31
3344,"43, Ullswater Crescent, ,",SW15 3RG,SW15,1100000,5,Detached,Freehold,Residential,1.6,13-Jan-17,2017,1,51.430545,-0.261290,520968,171605,Coombe Hill,31
3345,"37, Ullswater Crescent, ,",SW15 3RG,SW15,1000000,4,Semi-Detached,Freehold,Residential,1.6,21-Jun-17,2017,6,51.430545,-0.261290,520968,171605,Coombe Hill,31
3346,"51, Ullswater Crescent, ,",SW15 3RG,SW15,915000,4,Detached,Freehold,Residential,1.6,20-Oct-17,2017,10,51.430545,-0.261290,520968,171605,Coombe Hill,31
3347,"4a, Woodview Close, ,",SW15 3RL,SW15,2380000,5,Detached,Freehold,Residential,1.6,26-Oct-17,2017,10,51.432415,-0.264298,520754,171808,Coombe Hill,31
3348,"1, Woodview Close, ,",SW15 3RL,SW15,1090000,5,Detached,Freehold,Residential,1.6,23-Dec-14,2014,12,51.432415,-0.264298,520754,171808,Coombe Hill,31
3349,"3, Woodview Close, ,",SW15 3RL,SW15,1200000,4,Detached,Freehold,Residential,1.6,23-Apr-14,2014,4,51.432415,-0.264298,520754,171808,Coombe Hill,31
3350,"Harewood Cottage, Kingston Vale, ,",SW15 3RN,SW15,1000000,4,Detached,Freehold,Residential,1.7,01-Jul-14,2014,7,51.433694,-0.261991,520911,171954,Coombe Hill,22
3351,"Harewood Lodge, Kingston Vale, ,",SW15 3RN,SW15,1200000,5,Detached,Freehold,Residential,1.7,08-Dec-17,2017,12,51.433694,-0.261991,520911,171954,Coombe Hill,22
3352,"48, Ullswater Crescent, ,",SW15 3RQ,SW15,1050000,5,Detached,Freehold,Residential,1.6,06-Nov-15,2015,11,51.432170,-0.262308,520893,171784,Coombe Hill,23
3353,"78, Ullswater Crescent, ,",SW15 3RQ,SW15,1100000,4,Semi-Detached,Freehold,Residential,1.6,04-Oct-17,2017,10,51.432170,-0.262308,520893,171784,Coombe Hill,23
3354,"22, Ullswater Crescent, ,",SW15 3RQ,SW15,810000,3,Semi-Detached,Freehold,Residential,1.6,15-Jun-18,2018,6,51.432170,-0.262308,520893,171784,Coombe Hill,23
3355,"34, Ullswater Crescent, ,",SW15 3RQ,SW15,1110000,5,Detached,Freehold,Residential,1.6,28-Mar-14,2014,3,51.432170,-0.262308,520893,171784,Coombe Hill,23
3356,"82, Ullswater Crescent, ,",SW15 3RQ,SW15,965000,5,Detached,Freehold,Residential,1.6,06-Jun-18,2018,6,51.432170,-0.262308,520893,171784,Coombe Hill,23
3357,"10, Beverley Cottages, Kingston Vale, ,",SW15 3RR,SW15,407000,5,Terraced,Freehold,Residential,1.5,06-Oct-14,2014,10,51.436024,-0.256565,521282,172222,Coombe Hill,14
3358,"9, Beverley Cottages, Kingston Vale, ,",SW15 3RR,SW15,375000,2,Terraced,Freehold,Residential,1.5,21-Aug-15,2015,8,51.436024,-0.256565,521282,172222,Coombe Hill,14
3359,"3, Vale Cottages, Kingston Vale, ,",SW15 3RW,SW15,400000,2,Terraced,Freehold,Residential,1.5,08-May-15,2015,5,51.435430,-0.257781,521199,172154,Coombe Hill,16
3360,"1, Cedar Close, ,",SW15 3SD,SW15,1150000,5,Detached,Freehold,Residential,1.5,13-Mar-15,2015,3,51.431632,-0.266025,520636,171718,Coombe Hill,48
3361,"Dorincourt, 5, Cedar Close, ,",SW15 3SD,SW15,1800000,5,Semi-Detached,Freehold,Residential,1.5,05-Feb-16,2016,2,51.431632,-0.266025,520636,171718,Coombe Hill,48
3362,"32, Latchmere Close, Richmond,",TW10 5HQ,TW10,605000,3,Semi-Detached,Freehold,Residential,1.1,22-Jun-15,2015,6,51.428543,-0.297623,518448,171323,Tudor,10
3363,"27, Latchmere Close, Richmond,",TW10 5HQ,TW10,595000,5,Semi-Detached,Freehold,Residential,1.1,17-Jul-14,2014,7,51.428543,-0.297623,518448,171323,Tudor,10
3364,"31, Latchmere Close, Richmond,",TW10 5HQ,TW10,585000,3,Semi-Detached,Freehold,Residential,1.1,13-Jun-14,2014,6,51.428543,-0.297623,518448,171323,Tudor,10
3365,"23, Latchmere Close, Richmond,",TW10 5HQ,TW10,580000,3,Semi-Detached,Freehold,Residential,1.1,11-Mar-15,2015,3,51.428543,-0.297623,518448,171323,Tudor,10
3366,"13, Bainbridge Close, Ham, Richmond,",TW10 5JJ,TW10,935000,4,Detached,Freehold,Residential,1.1,14-Aug-14,2014,8,51.428790,-0.298563,518382,171349,Tudor,10

In [25]:
mer_data=mer_data[:-80]
mer_data

,Address,Postcode,KT1_KT2,Sale_price,Bedrooms,House_type,Freehold_leasehold,Res_new_old,Stationdist_miles,Sale_date,Sale_year,Sale_month,Latitude,Longitude,Easting,Northing,Ward,Altitude
0,"Flat 40, Elder House, 4, Water Lane",KT1 1AE,KT1,435000,2,Flat,Leasehold,Residential,0.4,05-Oct-15,2015,10,51.412605,-0.307355,517812,169535,Grove,9
1,"Flat 50, Elder House, 4, Water Lane",KT1 1AE,KT1,1295000,4,Flat,Leasehold,Residential,0.4,05-Feb-16,2016,2,51.412605,-0.307355,517812,169535,Grove,9
2,"Flat 35, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,2,Flat,Leasehold,Residential,0.4,19-Oct-17,2017,10,51.412605,-0.307355,517812,169535,Grove,9
3,"Flat 47, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,5,Flat,Leasehold,Residential,0.4,20-Apr-18,2018,4,51.412605,-0.307355,517812,169535,Grove,9
4,"Flat 1, Elder House, 4, Water Lane",KT1 1AE,KT1,143750,2,Flat,Leasehold,Residential,0.4,06-Oct-16,2016,10,51.412605,-0.307355,517812,169535,Grove,9
5,"Flat 42, Elder House, 4, Water Lane",KT1 1AE,KT1,765000,4,Flat,Leasehold,Residential,0.4,20-Sep-16,2016,9,51.412605,-0.307355,517812,169535,Grove,9
6,"Flat 93, Garricks House, Wadbrook Street",KT1 1AZ,KT1,515000,2,Flat,Leasehold,Residential,0.4,27-Apr-18,2018,4,51.408764,-0.307856,517787,169107,Grove,11
7,"Flat 100, Garricks House, Wadbrook Street",KT1 1AZ,KT1,515000,2,Flat,Leasehold,Residential,0.4,23-Aug-18,2018,8,51.408764,-0.307856,517787,169107,Grove,11
8,"Flat 110, Garricks House, Wadbrook Street",KT1 1AZ,KT1,800000,2,Flat,Leasehold,Residential,0.4,03-Apr-14,2014,4,51.408764,-0.307856,517787,169107,Grove,11
9,"Flat 105, Garricks House, Wadbrook Street",KT1 1AZ,KT1,635000,2,Flat,Leasehold,Residential,0.4,21-Mar-16,2016,3,51.408764,-0.307856,517787,169107,Grove,11
10,"Flat 95, Garricks House, Wadbrook Street",KT1 1AZ,KT1,580000,2,Flat,Leasehold,Residential,0.4,22-Apr-14,2014,4,51.408764,-0.307856,517787,169107,Grove,11
11,"Flat 2, 14a, Eden Street",KT1 1BB,KT1,225000,5,Flat,Leasehold,Residential,0.4,20-Nov-17,2017,11,51.408876,-0.305680,517938,169123,Grove,12
12,"Flat 4, 14a, Eden Street",KT1 1BB,KT1,215000,1,Flat,Leasehold,Residential,0.4,04-Sep-14,2014,9,51.408876,-0.305680,517938,169123,Grove,12
13,"Flat 1, 2, High Street",KT1 1EY,KT1,390000,2,Flat,Leasehold,Residential,0.4,08-Jun-16,2016,6,51.408811,-0.306797,517861,169114,Grove,12
14,"Flat 1-3, 10, High Street",KT1 1EY,KT1,425000,2,Flat,Leasehold,Residential,0.4,07-Jun-16,2016,6,51.408811,-0.306797,517861,169114,Grove,12
15,"Flat 2, 10, High Street",KT1 1EY,KT1,280000,2,Flat,Leasehold,Residential,0.4,01-Dec-16,2016,12,51.408811,-0.306797,517861,169114,Grove,12
16,"Flat 1, 10, High Street",KT1 1EY,KT1,300000,1,Flat,Leasehold,Residential,0.4,18-Nov-16,2016,11,51.408811,-0.306797,517861,169114,Grove,12
17,"Flat 2, 2, High Street",KT1 1EY,KT1,317000,2,Flat,Leasehold,Residential,0.4,10-Nov-16,2016,11,51.408811,-0.306797,517861,169114,Grove,12
18,"Flat 4, 2, High Street",KT1 1EY,KT1,325000,2,Flat,Leasehold,Residential,0.4,08-Jul-16,2016,7,51.408811,-0.306797,517861,169114,Grove,12
19,"Flat 3, 2, High Street",KT1 1EY,KT1,337000,1,Flat,Leasehold,Residential,0.4,10-Jun-16,2016,6,51.408811,-0.306797,517861,169114,Grove,12
20,"Flat 7, Queens Reach, Ram Passage",KT1 1HH,KT1,335000,1,Flat,Leasehold,Residential,0.4,07-Dec-15,2015,12,51.407852,-0.308220,517764,169005,Grove,9
21,"Flat 7, Ravens House, Wadbrook Street",KT1 1HR,KT1,735000,2,Flat,Leasehold,Residential,0.3,05-Jan-18,2018,1,51.409269,-0.307377,517819,169164,Grove,11
22,"Flat 18, Ravens House, Wadbrook Street",KT1 1HR,KT1,455400,2,Flat,Leasehold,Residential,0.3,13-Apr-15,2015,4,51.409269,-0.307377,517819,169164,Grove,11
23,"Flat 13, Ravens House, Wadbrook Street",KT1 1HR,KT1,600000,2,Flat,Leasehold,Residential,0.3,23-May-14,2014,5,51.409269,-0.307377,517819,169164,Grove,11
24,"Flat 5, Ravens House, Wadbrook Street",KT1 1HR,KT1,485000,2,Flat,Leasehold,Residential,0.3,12-May-17,2017,5,51.409269,-0.307377,517819,169164,Grove,11
25,"Flat 23, Ravens House, Wadbrook Street",KT1 1HR,KT1,875000,3,Flat,Leasehold,Residential,0.3,21-Dec-16,2016,12,51.409269,-0.307377,517819,169164,Grove,11
26,"Flat 9, Garricks House, Wadbrook Street",KT1 1HS,KT1,442000,2,Flat,Leasehold,Residential,0.4,29-Nov-17,2017,11,51.408764,-0.307856,517787,169107,Grove,11
27,"Flat 40, Garricks House, Wadbrook Street",KT1 1HS,KT1,875000,2,Flat,Leasehold,Residential,0.4,15-Dec-17,2017,12,51.408764,-0.307856,517787,169107,Grove,11
28,"Flat 67, Garricks House, Wadbrook Street",KT1 1HS,KT1,1270000,2,Flat,Leasehold,Residential,0.4,26-Jul-18,2018,7,51.408764,-0.307856,517787,169107,Grove,11
29,"Flat 29, Garricks House, Wadbrook Street",KT1 1HS,KT1,620000,2,Flat,Leasehold,Residential,0.4,13-Nov-15,2015,11,51.408764,-0.307856,517787,169107,Grove,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3257,"Thatchers, Traps Lane, New Malden",KT3 4SQ,KT3,3091090,5,Detached,Freehold,Residential,0.8,26-Jul-16,2016,7,51.415649,-0.261539,520990,169948,Coombe Vale,42
3258,"3, Grove Footpath, Surbiton",KT5 8AT,KT5,490000,2,Terraced,Freehold,Residential,0.5,22-Jul-16,2016,7,51.399108,-0.301197,518275,168044,St Mark's,19
3259,"9, Grove Footpath, Surbiton",KT5 8AT,KT5,607000,2,Terraced,Freehold,Residential,0.5,09-Aug-17,2017,8,51.399108,-0.301197,518275,168044,St Mark's,19
3260,"11, Grove Footpath, Surbiton",KT5 8AT,KT5,510000,2,Detached,Freehold,Residential,0.5,15-Apr-16,2016,4,51.399108,-0.301197,518275,168044,St Mark's,19
3261,"12, Grove Footpath, Surbiton",KT5 8AT,KT5,600000,2,Semi-Detached,Freehold,Residential,0.5,06-Oct-17,2017,10,51.399108,-0.301197,518275,168044,St Mark's,19
3262,"1 Villa Terrace, Grove Footpath, Surbiton",KT5 8AT,KT5,500000,2,Terraced,Freehold,Residential,0.5,22-May-14,2014,5,51.399108,-0.301197,518275,168044,St Mark's,19
3263,"6, Grove Footpath, Surbiton",KT5 8AT,KT5,510000,2,Terraced,Freehold,Residential,0.5,25-Aug-17,2017,8,51.399108,-0.301197,518275,168044,St Mark's,19
3264,"4, Grove Footpath, Surbiton",KT5 8AT,KT5,450500,2,Terraced,Freehold,Residential,0.5,13-Feb-15,2015,2,51.399108,-0.301197,518275,168044,St Mark's,19
3265,"7, Grove Footpath, Surbiton",KT5 8AT,KT5,566000,2,Terraced,Freehold,Residential,0.5,01-Oct-15,2015,10,51.399108,-0.301197,518275,168044,St Mark's,19
3266,"14, Grove Footpath, Surbiton",KT5 8AT,KT5,595000,3,Semi-Detached,Freehold,Residential,0.5,07-Apr-14,2014,4,51.399108,-0.301197,518275,168044,St Mark's,19
3267,"72, Villiers Avenue, Surbiton",KT5 8BH,KT5,765000,4,Detached,Freehold,Residential,0.6,22-Aug-14,2014,8,51.400440,-0.295023,518701,168202,St Mark's,20
3268,"102, Villiers Avenue, Surbiton",KT5 8BH,KT5,660000,3,Semi-Detached,Freehold,Residential,0.6,18-Oct-17,2017,10,51.400440,-0.295023,518701,168202,St Mark's,20
3269,"88, Villiers Avenue, Surbiton",KT5 8BH,KT5,625000,3,Semi-Detached,Freehold,Residential,0.6,30-Mar-16,2016,3,51.400440,-0.295023,518701,168202,St Mark's,20
3270,"82, Villiers Avenue, Surbiton",KT5 8BH,KT5,770000,4,Semi-Detached,Freehold,Residential,0.6,15-Feb-17,2017,2,51.400440,-0.295023,518701,168202,St Mark's,20
3271,"100, Villiers Avenue, Surbiton",KT5 8BH,KT5,650000,3,Semi-Detached,Freehold,Residential,0.6,15-Dec-17,2017,12,51.400440,-0.295023,518701,168202,St Mark's,20
3272,"94, Villiers Avenue, Surbiton",KT5 8BH,KT5,740000,3,Detached,Freehold,Residential,0.6,24-Mar-16,2016,3,51.400440,-0.295023,518701,168202,St Mark's,20
3273,"7, Cranes Park Avenue, Surbiton",KT5 8BS,KT5,575000,3,Semi-Detached,Freehold,Residential,0.6,30-Oct-17,2017,10,51.400157,-0.297851,518505,168166,St Mark's,19
3274,"39, Cranes Park Avenue, Surbiton",KT5 8BS,KT5,877500,4,Semi-Detached,Freehold,Residential,0.6,11-Oct-17,2017,10,51.400157,-0.297851,518505,168166,St Mark's,19
3275,"57, Cranes Park Avenue, Surbiton",KT5 8BS,KT5,1070000,4,Semi-Detached,Freehold,Residential,0.6,02-Feb-18,2018,2,51.400157,-0.297851,518505,168166,St Mark's,19
3276,"27, Cranes Park Avenue, Surbiton",KT5 8BS,KT5,870000,4,Detached,Freehold,Residential,0.6,29-Jan-15,2015,1,51.400157,-0.297851,518505,168166,St Mark's,19
3277,"21, Cranes Park Avenue, Surbiton",KT5 8BS,KT5,970000,4,Detached,Freehold,Residential,0.6,12-Oct-16,2016,10,51.400157,-0.297851,518505,168166,St Mark's,19
3278,"6a, Cranes Park Avenue, Surbiton",KT5 8BY,KT5,1000000,5,Semi-Detached,Freehold,Residential,0.5,23-Mar-18,2018,3,51.399089,-0.299875,518367,168044,St Mark's,22
3279,"25, Villiers Close, Surbiton",KT5 8DL,KT5,525000,3,Semi-Detached,Freehold,Residential,0.5,03-Dec-18,2018,12,51.400843,-0.292464,518878,168251,St Mark's,17
3280,"43, Villiers Close, Surbiton",KT5 8DN,KT5,402000,2,Terraced,Leasehold,Residential,0.6,25-Apr-14,2014,4,51.401048,-0.292945,518844,168273,St Mark's,17
3281,"43, Villiers Close, Surbiton",KT5 8DN,KT5,402000,2,Terraced,Leasehold,Residential,0.4,25-Apr-14,2014,4,51.401048,-0.292945,518844,168273,St Mark's,17
3282,"16, Exeter Court, Surbiton",KT6 4AX,KT6,421000,2,Semi-Detached,Leasehold,Residential,0.4,18-Jul-18,2018,7,51.397501,-0.304462,518052,167860,St Mark's,16
3283,"9, Catherine Road, Surbiton",KT6 4HA,KT6,1500000,5,Detached,Freehold,Residential,0.4,22-Sep-17,2017,9,51.397927,-0.307163,517863,167903,Grove,14
3284,"5, Catherine Road, Surbiton",KT6 4HA,KT6,1190000,4,Detached,Freehold,Residential,0.4,18-Sep-15,2015,9,51.397927,-0.307163,517863,167903,Grove,14
3285,"18, Catherine Road, Surbiton",KT6 4HA,KT6,1740000,8,Semi-Detached,Freehold,Residential,0.4,30-Aug-17,2017,8,51.397927,-0.307163,517863,167903,Grove,14
3286,"23, Westfield Court, Portsmouth Road, Surbiton",KT6 4HG,KT6,650000,3,Terraced,Leasehold,Residential,0.5,15-Mar-18,2018,3,51.398538,-0.309024,517732,167968,Grove,11

In [26]:
#Since only KT1 and KT2 are considered for modeling checking whether unwanted postocde to remove it 
mer_data= mer_data[:-62]
mer_data.tail(10)

,Address,Postcode,KT1_KT2,Sale_price,Bedrooms,House_type,Freehold_leasehold,Res_new_old,Stationdist_miles,Sale_date,Sale_year,Sale_month,Latitude,Longitude,Easting,Northing,Ward,Altitude
3215,"40, Windmill Rise",KT2 7TU,KT2,390000,2,Flat,Leasehold,Residential,0.6,23-Mar-17,2017,3,51.421039,-0.280723,519642,170516,Coombe Hill,47
3216,"58, Windmill Rise",KT2 7TU,KT2,399999,2,Flat,Leasehold,Residential,0.6,28-Mar-17,2017,3,51.421039,-0.280723,519642,170516,Coombe Hill,47
3217,"44, Windmill Rise",KT2 7TU,KT2,385000,2,Flat,Leasehold,Residential,0.6,08-Jan-16,2016,1,51.421039,-0.280723,519642,170516,Coombe Hill,47
3218,"6, Windmill Rise",KT2 7TU,KT2,850000,3,Terraced,Freehold,Residential,0.6,31-Mar-16,2016,3,51.421039,-0.280723,519642,170516,Coombe Hill,47
3219,"12, Windmill Rise",KT2 7TU,KT2,650000,4,Terraced,Freehold,Residential,0.6,20-Feb-15,2015,2,51.421039,-0.280723,519642,170516,Coombe Hill,47
3220,"38, Windmill Rise",KT2 7TU,KT2,350000,3,Flat,Leasehold,Residential,0.9,07-Dec-18,2018,12,51.421039,-0.280723,519642,170516,Coombe Hill,47
3221,"7, Royal Court, Deer Park Close",KT2 7TW,KT2,330000,2,Flat,Leasehold,Residential,0.9,26-Feb-15,2015,2,51.418934,-0.282499,519524,170279,Coombe Hill,30
3222,"Flat 7, Dower House, 15, Manorgate Road",KT2 7UA,KT2,240000,5,Flat,Leasehold,Residential,0.9,14-Sep-15,2015,9,51.413947,-0.285835,519305,169719,Canbury,18
3223,"1, Moor Park Gardens",KT2 7UD,KT2,2650000,7,Detached,Freehold,Residential,0.9,17-Feb-17,2017,2,51.416814,-0.257641,521258,170084,Coombe Hill,40
3224,"22, Wonford Close",KT2 7XA,KT2,760000,2,Semi-Detached,Freehold,Residential,0.8,28-Sep-18,2018,9,51.415431,-0.257190,521293,169931,Coombe Hill,34

In [27]:
mer_data = trim(mer_data)
mer_data.to_csv('mer.csv',index=False)
#Final dataset is saved as mer.csv which is going to be used for further exploration and preprocessing steps

In [28]:
mer=pd.read_csv('mer.csv')

In [29]:
mer

,Address,Postcode,KT1_KT2,Sale_price,Bedrooms,House_type,Freehold_leasehold,Res_new_old,Stationdist_miles,Sale_date,Sale_year,Sale_month,Latitude,Longitude,Easting,Northing,Ward,Altitude
0,"Flat 40, Elder House, 4, Water Lane",KT1 1AE,KT1,435000,2,Flat,Leasehold,Residential,0.4,05-Oct-15,2015,10,51.412605,-0.307355,517812,169535,Grove,9
1,"Flat 50, Elder House, 4, Water Lane",KT1 1AE,KT1,1295000,4,Flat,Leasehold,Residential,0.4,05-Feb-16,2016,2,51.412605,-0.307355,517812,169535,Grove,9
2,"Flat 35, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,2,Flat,Leasehold,Residential,0.4,19-Oct-17,2017,10,51.412605,-0.307355,517812,169535,Grove,9
3,"Flat 47, Elder House, 4, Water Lane",KT1 1AE,KT1,550000,5,Flat,Leasehold,Residential,0.4,20-Apr-18,2018,4,51.412605,-0.307355,517812,169535,Grove,9
4,"Flat 1, Elder House, 4, Water Lane",KT1 1AE,KT1,143750,2,Flat,Leasehold,Residential,0.4,06-Oct-16,2016,10,51.412605,-0.307355,517812,169535,Grove,9
5,"Flat 42, Elder House, 4, Water Lane",KT1 1AE,KT1,765000,4,Flat,Leasehold,Residential,0.4,20-Sep-16,2016,9,51.412605,-0.307355,517812,169535,Grove,9
6,"Flat 93, Garricks House, Wadbrook Street",KT1 1AZ,KT1,515000,2,Flat,Leasehold,Residential,0.4,27-Apr-18,2018,4,51.408764,-0.307856,517787,169107,Grove,11
7,"Flat 100, Garricks House, Wadbrook Street",KT1 1AZ,KT1,515000,2,Flat,Leasehold,Residential,0.4,23-Aug-18,2018,8,51.408764,-0.307856,517787,169107,Grove,11
8,"Flat 110, Garricks House, Wadbrook Street",KT1 1AZ,KT1,800000,2,Flat,Leasehold,Residential,0.4,03-Apr-14,2014,4,51.408764,-0.307856,517787,169107,Grove,11
9,"Flat 105, Garricks House, Wadbrook Street",KT1 1AZ,KT1,635000,2,Flat,Leasehold,Residential,0.4,21-Mar-16,2016,3,51.408764,-0.307856,517787,169107,Grove,11
10,"Flat 95, Garricks House, Wadbrook Street",KT1 1AZ,KT1,580000,2,Flat,Leasehold,Residential,0.4,22-Apr-14,2014,4,51.408764,-0.307856,517787,169107,Grove,11
11,"Flat 2, 14a, Eden Street",KT1 1BB,KT1,225000,5,Flat,Leasehold,Residential,0.4,20-Nov-17,2017,11,51.408876,-0.305680,517938,169123,Grove,12
12,"Flat 4, 14a, Eden Street",KT1 1BB,KT1,215000,1,Flat,Leasehold,Residential,0.4,04-Sep-14,2014,9,51.408876,-0.305680,517938,169123,Grove,12
13,"Flat 1, 2, High Street",KT1 1EY,KT1,390000,2,Flat,Leasehold,Residential,0.4,08-Jun-16,2016,6,51.408811,-0.306797,517861,169114,Grove,12
14,"Flat 1-3, 10, High Street",KT1 1EY,KT1,425000,2,Flat,Leasehold,Residential,0.4,07-Jun-16,2016,6,51.408811,-0.306797,517861,169114,Grove,12
15,"Flat 2, 10, High Street",KT1 1EY,KT1,280000,2,Flat,Leasehold,Residential,0.4,01-Dec-16,2016,12,51.408811,-0.306797,517861,169114,Grove,12
16,"Flat 1, 10, High Street",KT1 1EY,KT1,300000,1,Flat,Leasehold,Residential,0.4,18-Nov-16,2016,11,51.408811,-0.306797,517861,169114,Grove,12
17,"Flat 2, 2, High Street",KT1 1EY,KT1,317000,2,Flat,Leasehold,Residential,0.4,10-Nov-16,2016,11,51.408811,-0.306797,517861,169114,Grove,12
18,"Flat 4, 2, High Street",KT1 1EY,KT1,325000,2,Flat,Leasehold,Residential,0.4,08-Jul-16,2016,7,51.408811,-0.306797,517861,169114,Grove,12
19,"Flat 3, 2, High Street",KT1 1EY,KT1,337000,1,Flat,Leasehold,Residential,0.4,10-Jun-16,2016,6,51.408811,-0.306797,517861,169114,Grove,12
20,"Flat 7, Queens Reach, Ram Passage",KT1 1HH,KT1,335000,1,Flat,Leasehold,Residential,0.4,07-Dec-15,2015,12,51.407852,-0.308220,517764,169005,Grove,9
21,"Flat 7, Ravens House, Wadbrook Street",KT1 1HR,KT1,735000,2,Flat,Leasehold,Residential,0.3,05-Jan-18,2018,1,51.409269,-0.307377,517819,169164,Grove,11
22,"Flat 18, Ravens House, Wadbrook Street",KT1 1HR,KT1,455400,2,Flat,Leasehold,Residential,0.3,13-Apr-15,2015,4,51.409269,-0.307377,517819,169164,Grove,11
23,"Flat 13, Ravens House, Wadbrook Street",KT1 1HR,KT1,600000,2,Flat,Leasehold,Residential,0.3,23-May-14,2014,5,51.409269,-0.307377,517819,169164,Grove,11
24,"Flat 5, Ravens House, Wadbrook Street",KT1 1HR,KT1,485000,2,Flat,Leasehold,Residential,0.3,12-May-17,2017,5,51.409269,-0.307377,517819,169164,Grove,11
25,"Flat 23, Ravens House, Wadbrook Street",KT1 1HR,KT1,875000,3,Flat,Leasehold,Residential,0.3,21-Dec-16,2016,12,51.409269,-0.307377,517819,169164,Grove,11
26,"Flat 9, Garricks House, Wadbrook Street",KT1 1HS,KT1,442000,2,Flat,Leasehold,Residential,0.4,29-Nov-17,2017,11,51.408764,-0.307856,517787,169107,Grove,11
27,"Flat 40, Garricks House, Wadbrook Street",KT1 1HS,KT1,875000,2,Flat,Leasehold,Residential,0.4,15-Dec-17,2017,12,51.408764,-0.307856,517787,169107,Grove,11
28,"Flat 67, Garricks House, Wadbrook Street",KT1 1HS,KT1,1270000,2,Flat,Leasehold,Residential,0.4,26-Jul-18,2018,7,51.408764,-0.307856,517787,169107,Grove,11
29,"Flat 29, Garricks House, Wadbrook Street",KT1 1HS,KT1,620000,2,Flat,Leasehold,Residential,0.4,13-Nov-15,2015,11,51.408764,-0.307856,517787,169107,Grove,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3195,"Flat 9, Pirbright House, Kingsnympton Park",KT2 7TQ,KT2,280000,2,Flat,Leasehold,Residential,0.7,10-Sep-18,2018,9,51.421683,-0.278023,519828,170592,Coombe Hill,56
3196,"Flat 7, Pirbright House, Kingsnympton Park",KT2 7TQ,KT2,345000,2,Flat,Leasehold,Residential,0.7,26-Jan-17,2017,1,51.421683,-0.278023,519828,170592,Coombe Hill,56
3197,"Flat 24, Pirbright House, Kingsnympton Park",KT2 7TQ,KT2,315000,3,Flat,Leasehold,Residential,0.7,20-Sep-17,2017,9,51.421683,-0.278023,519828,170592,Coombe Hill,56
3198,"Flat 3, Rowan Court, 6, Queens Road",KT2 7TR,KT2,305000,1,Flat,Leasehold,Residential,0.7,18-Jan-17,2017,1,51.417228,-0.284490,519390,170086,Coombe Hill,24
3199,"Flat 11, Rowan Court, 6, Queens Road",KT2 7TR,KT2,330000,1,Flat,Leasehold,Residential,0.7,21-Sep-18,2018,9,51.417228,-0.284490,519390,170086,Coombe Hill,24
3200,"Flat 4, Rowan Court, 6, Queens Road",KT2 7TR,KT2,355000,2,Flat,Leasehold,Residential,0.7,31-Jul-15,2015,7,51.417228,-0.284490,519390,170086,Coombe Hill,24
3201,"47, Haygreen Close",KT2 7TS,KT2,485000,3,Terraced,Freehold,Residential,0.7,18-Aug-17,2017,8,51.421931,-0.279582,519719,170617,Coombe Hill,53
3202,"10, Haygreen Close",KT2 7TS,KT2,375000,2,Terraced,Freehold,Residential,0.7,25-Feb-16,2016,2,51.421931,-0.279582,519719,170617,Coombe Hill,53
3203,"27, Haygreen Close",KT2 7TS,KT2,405000,2,Semi-Detached,Freehold,Residential,0.7,09-May-18,2018,5,51.421931,-0.279582,519719,170617,Coombe Hill,53
3204,"1, Haygreen Close",KT2 7TS,KT2,320000,1,Terraced,Freehold,Residential,0.7,24-Nov-15,2015,11,51.421931,-0.279582,519719,170617,Coombe Hill,53
3205,"28, Haygreen Close",KT2 7TS,KT2,333000,1,Terraced,Freehold,Residential,0.7,28-Jun-17,2017,6,51.421931,-0.279582,519719,170617,Coombe Hill,53
3206,"35, Haygreen Close",KT2 7TS,KT2,330000,1,Terraced,Freehold,Residential,0.7,30-Nov-18,2018,11,51.421931,-0.279582,519719,170617,Coombe Hill,53
3207,"49, Haygreen Close",KT2 7TS,KT2,475500,2,Terraced,Freehold,Residential,0.6,10-Oct-14,2014,10,51.421931,-0.279582,519719,170617,Coombe Hill,53
3208,"9, Dutch Gardens",KT2 7TT,KT2,1025000,5,Detached,Freehold,Residential,0.6,28-Sep-18,2018,9,51.420948,-0.281891,519561,170504,Coombe Hill,40
3209,"13, Dutch Gardens",KT2 7TT,KT2,855000,4,Detached,Freehold,Residential,0.6,19-Sep-17,2017,9,51.420948,-0.281891,519561,170504,Coombe Hill,40
3210,"8, Dutch Gardens",KT2 7TT,KT2,1220000,4,Detached,Freehold,Residential,0.6,18-Jun-18,2018,6,51.420948,-0.281891,519561,170504,Coombe Hill,40
3211,"3, Dutch Gardens",KT2 7TT,KT2,815000,4,Semi-Detached,Freehold,Residential,0.6,07-Aug-15,2015,8,51.420948,-0.281891,519561,170504,Coombe Hill,40
3212,"55, Windmill Rise",KT2 7TU,KT2,224950,1,Flat,Leasehold,Residential,0.6,12-Dec-14,2014,12,51.421039,-0.280723,519642,170516,Coombe Hill,47
3213,"24, Windmill Rise",KT2 7TU,KT2,245000,1,Flat,Leasehold,Residential,0.6,27-Jan-15,2015,1,51.421039,-0.280723,519642,170516,Coombe Hill,47
3214,"37, Windmill Rise",KT2 7TU,KT2,312320,1,Flat,Leasehold,Residential,0.6,12-Aug-15,2015,8,51.421039,-0.280723,519642,170516,Coombe Hill,47
3215,"40, Windmill Rise",KT2 7TU,KT2,390000,2,Flat,Leasehold,Residential,0.6,23-Mar-17,2017,3,51.421039,-0.280723,519642,170516,Coombe Hill,47
3216,"58, Windmill Rise",KT2 7TU,KT2,399999,2,Flat,Leasehold,Residential,0.6,28-Mar-17,2017,3,51.421039,-0.280723,519642,170516,Coombe Hill,47
3217,"44, Windmill Rise",KT2 7TU,KT2,385000,2,Flat,Leasehold,Residential,0.6,08-Jan-16,2016,1,51.421039,-0.280723,519642,170516,Coombe Hill,47
3218,"6, Windmill Rise",KT2 7TU,KT2,850000,3,Terraced,Freehold,Residential,0.6,31-Mar-16,2016,3,51.421039,-0.280723,519642,170516,Coombe Hill,47
3219,"12, Windmill Rise",KT2 7TU,KT2,650000,4,Terraced,Freehold,Residential,0.6,20-Feb-15,2015,2,51.421039,-0.280723,519642,170516,Coombe Hill,47
3220,"38, Windmill Rise",KT2 7TU,KT2,350000,3,Flat,Leasehold,Residential,0.9,07-Dec-18,2018,12,51.421039,-0.280723,519642,170516,Coombe Hill,47
3221,"7, Royal Court, Deer Park Close",KT2 7TW,KT2,330000,2,Flat,Leasehold,Residential,0.9,26-Feb-15,2015,2,51.418934,-0.282499,519524,170279,Coombe Hill,30
3222,"Flat 7, Dower House, 15, Manorgate Road",KT2 7UA,KT2,240000,5,Flat,Leasehold,Residential,0.9,14-Sep-15,2015,9,51.413947,-0.285835,519305,169719,Canbury,18
3223,"1, Moor Park Gardens",KT2 7UD,KT2,2650000,7,Detached,Freehold,Residential,0.9,17-Feb-17,2017,2,51.416814,-0.257641,521258,170084,Coombe Hill,40
3224,"22, Wonford Close",KT2 7XA,KT2,760000,2,Semi-Detached,Freehold,Residential,0.8,28-Sep-18,2018,9,51.415431,-0.257190,521293,169931,Coombe Hill,34

## FEATURES OBTAINED

1.Address<br>
2.Postcode<br>
3.KT1/KT2<br>
4.Sale price <br>
5.Bedrooms<br>
6.House_type <br>
7.Freehold_leasehold <br>
8.Res_new_old <br>
9.Staiondist_miles(Station distance in miles)<br>
10.Sale_date<br>
11.Sale_year<br>
12.Sale_month<br>
13.Latitude<br>
14.Longitude<br>
15.Easting<br>
16.Northing<br>
17.Ward<br>
18.Altitude<br>